[core]
    autocrlf = input
    safecrlf = true
    editor = vim
    excludesfile = ~/.gitignore_global
[alias]
    co = checkout
    st = status
    br = branch --all --verbose --verbose
    ci = commit -Ss
    pum = push --tags origin master
    hist = log --pretty=format:'%h %ad | %s%d [%an% G?]' --graph --date=short
    re = remote --verbose --verbose
    type = cat-file -t
    dump = cat-file -p
    last = log -n1 --show-signature --
    stashed = stash list --pretty=format:'%gd: %Cred%h%Creset %Cgreen[%ar]%Creset %s'
    diffcommit = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
    reviewboard-diff = diff --no-color --full-index --ignore-submodules -M --no-ext-diff
    ctags = !${HOME}/portable-configuration/git-update-ctags.sh
